html, body {
    height: 100%;
    width: 100%;
  }
  
  :root{
    --primary-color: rgb(194, 33, 243);
  }
  
  header {
    background-color: var(--primary-color);
    padding-top: 1em;
    padding-bottom: .5em;
    margin-top: -1em;
    margin-left: -1em;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  a:hover {
    color: black;
}
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2em;
    align-content: center;
    padding-left: 1em;
  }
  
  .navbar .logo span {
  color: black;
  }

    .container {
      margin: 100px auto;
      width: 50%;
      min-height: 400px;
      padding: 3em;
      border: 1px solid var(--primary-color);
      background-color: rgb(230, 221, 239);
    }
  
h1 {
  text-align: center;
} 
  .user_input {
    width: 80%;
    margin-left: 55px;
    margin-top: 1em;
    padding: 1em;
  }

table {
  width: 80%;
  padding: 1em;
}
  td input {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 1em;
    padding: 1em;
    width: 80%;
    font-size: 18px;
    height: 70px;
    width: 70px;
  }

@media only screen and (max-width: 1000px) {
  .container {
    margin-top: 80px;
    margin-left: 120px;
    width: 50%;
    height: 430px;
    padding: 3em;
    border: 1px solid var(--primary-color);
    background-color: rgb(230, 221, 239);
  }
}
@media only screen and (max-width: 1000px) {
  table {
    width: 80%;
    padding: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  .user_input {
    width: 80%;
    margin-left: 28px;
    margin-top: 1em;
    padding: 1em;
  }
}
@media only screen and (max-width: 1000px) {
  td input {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-left: 35px;
    margin-top: 1em;
    padding: .5em;
    width: 50%;
    font-size: 12px;
    height: 40px;
    width: 40px;
  }
}


